# Describing the functionality of pandas and the basic functions from the face2face library

**Authors**: Andreas Kruff, Johann Schaible, Marcos Oliveira

**Version**: 12.05.2020

**Description**: This tutorial describes the underlying pandas methods that are used to build the face2face methods for the face-to-face interaction durations of this toolbox.

## Table of Contents
#### [Implement the contact duration function](#contact_duration)
#### [Implement the triangle duration function](#triangle_duration)
#### [Implement the inter-contact duration function](#inter-contact_duration)

# Explanation of the distribution methods

A very basic method to analyze tij-datasets is to measure the probability distribution for contact durations of the given dataset. To do so you need to know how to interpret the data. For the creating of the tij data sets, that are included in this library, RFID chips were used which exchanged packages among themselves, when two people with RFID chips stood in front of each other in a close range. If a whole package got exchanged between two RFID chips this occurence becomes a part of the dataset. This was used to filter real contacts from random encounters.

## How to implement the calculate_contact_duration function 
<a name="contact_duration"></a>

For this reason you have to prepare the datasets with the help of python and pandas methods to be able to analyze the dataset in terms of its distribution. The next steps will show how the function "calculate_contact_duration" prepares the dataset to measure the probability, but at first we have to import a dataset to work with.

The cell below can be ignored, after being executed once. The path has to be set to the directory above to get access to the data and the functions of this libary.

In [2]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [3]:
from face2face.imports.load_all_data import Data

df = Data("WS16")

As you can see below we imported the data set "WS16" as a Data object, which means it can contain up to two dataframes. With .interaction you can access the tij dataframe and with .metadata you can access the metadata, if they are provided. With that being said, we can use the Data object and the dataframes for the further analysis.

In [31]:
type(df)

face2face.imports.load_all_data.Data

When you take a look at the first 25 entrys of this tij-dataset you can see that the two people with ID 125 and ID 130 talked two times for this extract. The data set shows that they talked at timestamp 1480486100, which means they talked from 1480486080 to 1480486100 for at least 20 seconds and for a maximum of 39 seconds. At timestamp 1480486160 you can see another contact between this two people, but if the difference between two timestamps is bigger than 20 seconds it means that there was a break in there conversation. This means that if the difference is 20 seconds you have to accumulate the interaction durations until the difference is bigger than 20 seconds. This is the main part of this function.

In [4]:
df.interaction.head(25)

             Time    i    j
Index
0      1480486100  125  130
1      1480486100    7  130
2      1480486100    9  110
3      1480486120    9  130
4      1480486160  125  130
5      1480486180    9   21
6      1480486200    9   21
7      1480486200    7  130
8      1480486220    9   21
9      1480486240    9   21
10     1480486240    7  130
11     1480486240  125   21
12     1480486260  125   21
13     1480486260    7  130
14     1480486280  125   21
15     1480486280    7  130
16     1480486300  125   21
17     1480486300    7  130
18     1480486320  125   21
19     1480486320    7  130
20     1480486340  125   21
21     1480486340    7  110
22     1480486340    7  130
23     1480486360  125   21
24     1480486360    7  130

To get a first overview of all contact compositions you can use the sort_values function from pandas and sort the datasets by ID i and j. Although it is not necessary for the calculations to sort it at the beginning, you can see the ongoing interactions a lot better in the output if you sort them.

In [35]:
tij_data_sorted = df.interaction.sort_values(by=["i", "j"])
tij_data_sorted.head(25)

              Time  i   j        diff
Index
107076  1480583020  0  26         nan
124647  1480589960  1   0         nan
136534  1480592120  1   0  2160.00000
2519    1480489180  1   2         nan
22905   1480501800  1   2 12620.00000
27137   1480502720  1   2   920.00000
45978   1480509360  1   2  6640.00000
45991   1480509380  1   2    20.00000
46026   1480509440  1   2    60.00000
46043   1480509460  1   2    20.00000
46068   1480509500  1   2    40.00000
46078   1480509520  1   2    20.00000
46091   1480509540  1   2    20.00000
46130   1480509600  1   2    60.00000
46142   1480509620  1   2    20.00000
46187   1480509700  1   2    80.00000
46202   1480509720  1   2    20.00000
46215   1480509740  1   2    20.00000
46226   1480509760  1   2    20.00000
46240   1480509780  1   2    20.00000
46254   1480509800  1   2    20.00000
46268   1480509820  1   2    20.00000
46279   1480509840  1   2    20.00000
46295   1480509860  1   2    20.00000
46306   1480509880  1   2    20.00000

As a next step we need to get the differences between every timestamp where the same two people talked to each other. To get that you can use the groupby functions from pandas to get all timestamps for every pair of contacts. With the .diff() function that we also used in the previous tutorial you can measure the difference between every timestamp and the previous timestamp. The output of this construct is a list that we attached on our dataframe with the column name "diff". As you can see there are a lot of 20 seconds differences but also some "nan" values. This "nan" values exist because there is always a first occurence of two people talking to each other and then there are no previous timestamps to measure the difference with. This means that this two people have talked for 20 seconds so far.

In [36]:
tij_data_sorted["diff"] = tij_data_sorted.groupby(["i", "j"])["Time"].diff()

In [37]:
tij_data_sorted.head(25)

              Time  i   j        diff
Index
107076  1480583020  0  26         nan
124647  1480589960  1   0         nan
136534  1480592120  1   0  2160.00000
2519    1480489180  1   2         nan
22905   1480501800  1   2 12620.00000
27137   1480502720  1   2   920.00000
45978   1480509360  1   2  6640.00000
45991   1480509380  1   2    20.00000
46026   1480509440  1   2    60.00000
46043   1480509460  1   2    20.00000
46068   1480509500  1   2    40.00000
46078   1480509520  1   2    20.00000
46091   1480509540  1   2    20.00000
46130   1480509600  1   2    60.00000
46142   1480509620  1   2    20.00000
46187   1480509700  1   2    80.00000
46202   1480509720  1   2    20.00000
46215   1480509740  1   2    20.00000
46226   1480509760  1   2    20.00000
46240   1480509780  1   2    20.00000
46254   1480509800  1   2    20.00000
46268   1480509820  1   2    20.00000
46279   1480509840  1   2    20.00000
46295   1480509860  1   2    20.00000
46306   1480509880  1   2    20.00000

Our goal is to get the contact durations, so we need to accumulate all rows for every contact pair that have a difference from 20 seconds to the previous timestamp to get the contact durations. For that we have to create a list with markers, zero for nan values or 20 seconds and one for values that are bigger than 20 seconds. The zero indicates the first occurence of a contact between two individuals or an ongoing conversation, we want to make use of this by calculating the cumulative sum as the next step. This allows us to differentiate all the ongoing interactions between two individuals. When you build the cumulative sum all the ones are marking a new starting interaction between the two same individuals, so we know which rows stick together to one consecutive conversation, because just the marker for the differences bigger than 20 seconds affect the cumulative sum.

In [9]:
marker_list = []
for key, value in tij_data_sorted.iterrows():
    if value["diff"] > 20:
        marker_list.append(1)
    else:
        marker_list.append(0)

In [10]:
tij_data_sorted["Marker"] = marker_list
tij_data_sorted.head(25)

              Time  i   j        diff  Marker
Index
107076  1480583020  0  26         nan       0
124647  1480589960  1   0         nan       0
136534  1480592120  1   0  2160.00000       1
2519    1480489180  1   2         nan       0
22905   1480501800  1   2 12620.00000       1
27137   1480502720  1   2   920.00000       1
45978   1480509360  1   2  6640.00000       1
45991   1480509380  1   2    20.00000       0
46026   1480509440  1   2    60.00000       1
46043   1480509460  1   2    20.00000       0
46068   1480509500  1   2    40.00000       1
46078   1480509520  1   2    20.00000       0
46091   1480509540  1   2    20.00000       0
46130   1480509600  1   2    60.00000       1
46142   1480509620  1   2    20.00000       0
46187   1480509700  1   2    80.00000       1
46202   1480509720  1   2    20.00000       0
46215   1480509740  1   2    20.00000       0
46226   1480509760  1   2    20.00000       0
46240   1480509780  1   2    20.00000       0
46254   1480509800  1   2    20.00000       0
46268   1480509820  1   2    20.00000       0
46279   1480509840  1   2    20.00000       0
46295   1480509860  1   2    20.00000       0
46306   1480509880  1   2    20.00000       0

Right after we attach the marker list to the dataframe we can create the already mentioned cumulative sum from the marker column as a new column. With the help of the cumulative sum you can identify every ongoing conversation, because it has the same number in the new "Ind"(Index) column. That the first two rows have the same "Ind" index, altough its not an ongoing conversation is no problem because we can use the ID's as well to unambigiously describe a conversation.

In [11]:
tij_data_sorted["Ind"] = tij_data_sorted["Marker"].cumsum()
tij_data_sorted.head(25)

              Time  i   j        diff  Marker  Ind
Index
107076  1480583020  0  26         nan       0    0
124647  1480589960  1   0         nan       0    0
136534  1480592120  1   0  2160.00000       1    1
2519    1480489180  1   2         nan       0    1
22905   1480501800  1   2 12620.00000       1    2
27137   1480502720  1   2   920.00000       1    3
45978   1480509360  1   2  6640.00000       1    4
45991   1480509380  1   2    20.00000       0    4
46026   1480509440  1   2    60.00000       1    5
46043   1480509460  1   2    20.00000       0    5
46068   1480509500  1   2    40.00000       1    6
46078   1480509520  1   2    20.00000       0    6
46091   1480509540  1   2    20.00000       0    6
46130   1480509600  1   2    60.00000       1    7
46142   1480509620  1   2    20.00000       0    7
46187   1480509700  1   2    80.00000       1    8
46202   1480509720  1   2    20.00000       0    8
46215   1480509740  1   2    20.00000       0    8
46226   1480509760  1   2    20.00000       0    8
46240   1480509780  1   2    20.00000       0    8
46254   1480509800  1   2    20.00000       0    8
46268   1480509820  1   2    20.00000       0    8
46279   1480509840  1   2    20.00000       0    8
46295   1480509860  1   2    20.00000       0    8
46306   1480509880  1   2    20.00000       0    8

With that being said we can again use the groupby function and use .size() to count how often a combination of the same "Ind", "i" and "j" row occur and create a new column "Number" for this amount.

In [12]:
tij_data_sorted = tij_data_sorted.groupby(["Ind", "i", "j"]).size().reset_index(name="Number")
tij_data_sorted.head(25)

    Ind  i   j  Number
0     0  0  26       1
1     0  1   0       1
2     1  1   0       1
3     1  1   2       1
4     2  1   2       1
5     3  1   2       1
6     4  1   2       2
7     5  1   2       2
8     6  1   2       3
9     7  1   2       2
10    8  1   2      47
11    9  1   2       1
12   10  1   2       3
13   11  1   2       1
14   12  1   2       1
15   13  1   2       1
16   14  1   2       1
17   15  1   2       1
18   16  1   2       1
19   17  1   2       1
20   18  1   2       1
21   19  1   2       2
22   20  1   2       1
23   21  1   2       1
24   21  1   3       1

Now we can use the amount of rows for a unique "Ind","i" and "j" setup to calculate the contact duration. Every row with this setup means 20 more seconds of conversation, so we just have to multiply the "Number" column to get the contact duration.

In [13]:
delta_t_list = []
for key, value in tij_data_sorted.iterrows():
    delta_t = value["Number"] * 20
    delta_t_list.append(delta_t)

After that we can attach the list of contact duration to the dataframe and with the help of groupby and .size() we can count the occurence of the different $\Delta t$.

In [14]:
tij_data_sorted["DeltaT"] = delta_t_list

tij_amount_delta_t = tij_data_sorted.groupby("DeltaT").size().reset_index(name="AmountOfDeltaT")
tij_amount_delta_t.head()

   DeltaT  AmountOfDeltaT
0      20           34057
1      40            8230
2      60            3186
3      80            1780
4     100            1132

To measure the total amount of conversations in this dataset we can accumulate the "AmountOfDeltaT" column. We need this to calculate the probability for the different contact durations.

In [15]:
cumulated_contacts = 0
for key, value in tij_amount_delta_t.iterrows():
    cumulated_contacts += value["AmountOfDeltaT"]

In [16]:
x_delta_t = tij_amount_delta_t["DeltaT"]

To get the probabilitys for all the possible contact durations you have to divide the amount of the occurence of the contact durations through the total amount of contacts.

In [17]:
y_probability = []
for key, value in tij_amount_delta_t.iterrows():
    y_probability.append(value["AmountOfDeltaT"]/cumulated_contacts)

## How to implement the calculate_triangle_duration function 
<a name="triangle_duration"></a>

For the triangle duration you need to prepare the dataset in a way that you can see if one person talked with at least two different persons at the same timestamp. So the first step would be to use the merge function of pandas to merge the tij together with itself by the parameters "Time" and "Time" and by the ID's "i" and "j". The output is a dataframe that contains rows with two pairs where one person is included in both conversations at the same time.

In [18]:
df_merge_1 = df.interaction.merge(df.interaction, left_on=["Time", "i"], right_on=["Time", "j"])
df_merge_1.head(15)

          Time  i_x  j_x  i_y  j_y
0   1480486400  110  130    7  110
1   1480486440    9   21  125    9
2   1480486460    9   21  125    9
3   1480486560   21  120  125   21
4   1480486580   21  120  125   21
5   1480486680    9   21  125    9
6   1480486680  110   76   40  110
7   1480486700    9   21  125    9
8   1480486720    9   21  125    9
9   1480486740    9   21  125    9
10  1480486760    9   21  125    9
11  1480486780    9   21  125    9
12  1480486800    9   21  125    9
13  1480486800   76  120   40   76
14  1480486820    9   21  125    9

To proof that this three people stood in front of each other and talked with each other at the same time you have to add the original dataframe on the dataframe again by merging it with the "Time".

In [19]:
df_merge_2 = df_merge_1.merge(df.interaction, left_on=["Time"], right_on=["Time"])
df_merge_2.head(15)

          Time  i_x  j_x  i_y  j_y    i    j
0   1480486400  110  130    7  110  125   21
1   1480486400  110  130    7  110  110  130
2   1480486400  110  130    7  110    7  110
3   1480486400  110  130    7  110    7  130
4   1480486440    9   21  125    9    9   21
5   1480486440    9   21  125    9  125    9
6   1480486440    9   21  125    9  125   21
7   1480486460    9   21  125    9    9   21
8   1480486460    9   21  125    9  125    9
9   1480486460    9   21  125    9  125   21
10  1480486560   21  120  125   21   21  120
11  1480486560   21  120  125   21  125   21
12  1480486560   21  120  125   21   77  110
13  1480486580   21  120  125   21  125    9
14  1480486580   21  120  125   21   21  120

Now you have to filter the rows from the dataframe that are real triangles. To do so we check if this six columns of i and j include every id two times with every possible combination in a triangle.

In [20]:
df_filter_triangle = df_merge_2[(df_merge_2["i_x"] == df_merge_2["j_y"])
                                & (df_merge_2["j_x"] == df_merge_2["j"])
                                & (df_merge_2["i_y"] == df_merge_2["i"])]
df_filter_triangle.head(15)

          Time  i_x  j_x  i_y  j_y    i    j
3   1480486400  110  130    7  110    7  130
6   1480486440    9   21  125    9  125   21
9   1480486460    9   21  125    9  125   21
17  1480486580   21  120  125   21  125  120
21  1480486680    9   21  125    9  125   21
33  1480486700    9   21  125    9  125   21
37  1480486720    9   21  125    9  125   21
43  1480486740    9   21  125    9  125   21
46  1480486760    9   21  125    9  125   21
51  1480486780    9   21  125    9  125   21
59  1480486800    9   21  125    9  125   21
64  1480486800   76  120   40   76   40  120
70  1480486820    9   21  125    9  125   21
89  1480487020  130  120   21  130   21  120
97  1480487020   21  120   77   21   77  120

Like in the previous tutorial for the contact_duration you have to calculate the differences between the timestamps for the triangles you found.

In [22]:
df_filter_triangle["Diff"] = df_filter_triangle.groupby(["i_x", "j_x", "i_y"])["Time"].diff()
df_filter_triangle

                Time  i_x  j_x  i_y  j_y    i    j         Diff
3         1480486400  110  130    7  110    7  130          nan
6         1480486440    9   21  125    9  125   21          nan
9         1480486460    9   21  125    9  125   21     20.00000
17        1480486580   21  120  125   21  125  120          nan
21        1480486680    9   21  125    9  125   21    220.00000
33        1480486700    9   21  125    9  125   21     20.00000
37        1480486720    9   21  125    9  125   21     20.00000
43        1480486740    9   21  125    9  125   21     20.00000
46        1480486760    9   21  125    9  125   21     20.00000
51        1480486780    9   21  125    9  125   21     20.00000
59        1480486800    9   21  125    9  125   21     20.00000
64        1480486800   76  120   40   76   40  120          nan
70        1480486820    9   21  125    9  125   21     20.00000
89        1480487020  130  120   21  130   21  120          nan
97        1480487020   21  120   77   21   77  120          nan
109       1480487040   21  120   77   21   77  120     20.00000
150       1480487040   21  130    7   21    7  130          nan
205       1480487060   21   76    7   21    7   76          nan
214       1480487060   21  120   77   21   77  120     20.00000
230       1480487060   21  120    7   21    7  120          nan
254       1480487060  130  120    7  130    7  120          nan
270       1480487060   76  120   21   76   21  120          nan
290       1480487060   76  120    7   76    7  120          nan
298       1480487080   21  120    7   21    7  120     20.00000
304       1480487100   21   76    7   21    7   76     40.00000
321       1480487240  114   21  125  114  125   21          nan
337       1480487260  114   21  125  114  125   21     20.00000
344       1480487280    9   21  125    9  125   21    460.00000
354       1480487280    9  114  125    9  125  114          nan
358       1480487300    9   21  125    9  125   21     20.00000
363       1480487320    9   21  125    9  125   21     20.00000
372       1480487340    9   21  125    9  125   21     20.00000
377       1480487360    9   21  125    9  125   21     20.00000
386       1480487360    9  114  125    9  125  114     80.00000
391       1480487360  114   21  125  114  125   21    100.00000
395       1480487360  114   21    9  114    9   21          nan
404       1480487380    9   21  125    9  125   21     20.00000
414       1480487380    9  114  125    9  125  114     20.00000
418       1480487380  114   21  125  114  125   21     20.00000
423       1480487380  114   21    9  114    9   21     20.00000
433       1480487400    9   21  125    9  125   21     20.00000
444       1480487400    9  114  125    9  125  114     20.00000
449       1480487400  114   21  125  114  125   21     20.00000
454       1480487400  114   21    9  114    9   21     20.00000
464       1480487420    9   21  125    9  125   21     20.00000
474       1480487420    9  114  125    9  125  114     20.00000
478       1480487420  114   21  125  114  125   21     20.00000
483       1480487420  114   21    9  114    9   21     20.00000
493       1480487440    9   21  125    9  125   21     20.00000
498       1480487460    9   21  125    9  125   21     20.00000
509       1480487500   21   76  114   21  114   76          nan
526       1480487600  125  110   77  125   77  110          nan
538       1480487660   21   76  114   21  114   76    160.00000
550       1480487680   21   76  114   21  114   76     20.00000
552       1480487700   21   76  114   21  114   76     20.00000
580       1480487760   66  113   13   66   13  113          nan
585       1480487780   13   66   62   13   62   66          nan
593       1480487780   13  113   62   13   62  113          nan
605       1480487780   66  113   13   66   13  113     20.00000
611       1480487780   66  113   62   66   62  113          nan
621       1480487800   13  133   62   13   62  133          nan
635       1480487800   13  113   62   13   62  113     20.00000
643       1480487800  113  133   62  113   62  133          nan
653       1480487800  113  133   13  113   13  133          nan
663       1480487800   54  120  135   54  135  120          nan
682       1480487820   66  113   13   66   13  113     40.00000
686       1480487820   66  133   13   66   13  133          nan
703       1480487820  113  133   66  113   66  133          nan
708       1480487820  113  133   13  113   13  133     20.00000
721       1480487840  113  133   66  113   66  133     20.00000
737       1480487840  113  133   13  113   13  133     20.00000
830       1480487840   13  133   62   13   62  133     40.00000
857       1480487840   66  133   13   66   13  133     20.00000
880       1480487840   66  113   13   66   13  113     20.00000
893       1480487840   76  130    7   76    7  130          nan
901       1480487860  113  133   66  113   66  133     20.00000
914       1480487860  113  133   62  113   62  133     60.00000
926       1480487860  113  133   13  113   13  133     20.00000
942       1480487860   13  133   62   13   62  133     20.00000
960       1480487860   13   66   62   13   62   66     80.00000
973       1480487860   13  113   62   13   62  113     60.00000
987       1480487860   66  113   62   66   62  113     80.00000
1007      1480487860   66  113   13   66   13  113     20.00000
1012      1480487860   66  133   62   66   62  133          nan
1024      1480487860   66  133   13   66   13  133     20.00000
1043      1480487880   13   66   62   13   62   66     20.00000
1052      1480487880   13  133   62   13   62  133     20.00000
1083      1480487880   66  113   13   66   13  113     20.00000
1098      1480487880   66  133   13   66   13  133     20.00000
1112      1480487880   66  133   62   66   62  133     20.00000
1129      1480487880   76  130    7   76    7  130     40.00000
1143      1480487900  113  133   13  113   13  133     40.00000
1168      1480487900   66  113   13   66   13  113     20.00000
1183      1480487920   13   66   62   13   62   66     40.00000
1190      1480487920   13  133   62   13   62  133     40.00000
1208      1480487920   13  113   62   13   62  113     60.00000
1223      1480487920   66  113   13   66   13  113     20.00000
1234      1480487920   66  113   62   66   62  113     60.00000
1240      1480487920   66  133   13   66   13  133     40.00000
1255      1480487920   66  133   62   66   62  133     40.00000
1270      1480487920  113  133   66  113   66  133     60.00000
1281      1480487920  113  133   62  113   62  133     60.00000
1292      1480487920  113  133   13  113   13  133     20.00000
1312      1480487940  113  133   66  113   66  133     20.00000
1330      1480487940  113  133   62  113   62  133     20.00000
1345      1480487940  113  133   13  113   13  133     20.00000
1381      1480487940   62  133  115   62  115  133          nan
1444      1480487940   13  133   62   13   62  133     20.00000
1490      1480487940   13  113   62   13   62  113     20.00000
1497      1480487940   66  133   13   66   13  133     20.00000
1548      1480487940   66  113   13   66   13  113     20.00000
1578      1480487960   62   13  115   62  115   13          nan
1588      1480487960   62  133  115   62  115  133     20.00000
1622      1480487960   62   66  115   62  115   66          nan
1640      1480487960   13   66   62   13   62   66     40.00000
1660      1480487960   13   66  115   13  115   66          nan
1710      1480487960   13  133   62   13   62  133     20.00000
1721      1480487960   13  133  115   13  115  133          nan
1772      1480487960   13  113  115   13  115  113          nan
1778      1480487960  113  133  115  113  115  133          nan
1801      1480487960  113  133   13  113   13  133     20.00000
1820      1480487960   66  133   13   66   13  133     20.00000
1862      1480487960   66  133   62   66   62  133     40.00000
1873      1480487960   66  133  115   66  115  133          nan
1898      1480487980  113  133   62  113   62  133     40.00000
1914      1480487980  113  133   13  113   13  133     20.00000
1937      1480487980   62   13  115   62  115   13     20.00000
1950      1480487980   62  133  115   62  115  133     20.00000
2001      1480487980   62   66  115   62  115   66     20.00000
2018      1480487980   13   66   62   13   62   66     20.00000
2039      1480487980   13   66  115   13  115   66     20.00000
2050      1480487980   13  133   62   13   62  133     20.00000
2064      1480487980   13  133  115   13  115  133     20.00000
2093      1480487980   13  113   62   13   62  113     40.00000
2123      1480487980   66  133   13   66   13  133     20.00000
2145      1480487980   66  133   62   66   62  133     20.00000
2159      1480487980   66  133  115   66  115  133     20.00000
2181      1480487980   21   76  114   21  114   76    280.00000
2204      1480488000   62   13  115   62  115   13     20.00000
2267      1480488000   62   66  115   62  115   66     20.00000
2285      1480488000   13   66   62   13   62   66     20.00000
2305      1480488000   13   66  115   13  115   66     20.00000
2317      1480488000   13  133   62   13   62  133     20.00000
2360      1480488000   13  113   62   13   62  113     20.00000
2393      1480488000  113  133   62  113   62  133     20.00000
2407      1480488000  113  133   13  113   13  133     20.00000
2426      1480488000   66  133   13   66   13  133     20.00000
2469      1480488000   66  133   62   66   62  133     20.00000
2509      1480488020  113  133   66  113   66  133     80.00000
2528      1480488020  113  133   62  113   62  133     20.00000
2544      1480488020  113  133   13  113   13  133     20.00000
2578      1480488020   13   66  115   13  115   66     20.00000
2598      1480488020   13   66   62   13   62   66     20.00000
2609      1480488020   13   66  117   13  117   66          nan
2654      1480488020   13  133   62   13   62  133     20.00000
2685      1480488020   13  133  117   13  117  133          nan
2723      1480488020   13  113   62   13   62  113     20.00000
2771      1480488020   66  113   13   66   13  113     80.00000
2807      1480488020   66  113   62   66   62  113    100.00000
2838      1480488020   66  133   13   66   13  133     20.00000
2874      1480488020   66  133  117   66  117  133          nan
2885      1480488020   66  133   62   66   62  133     20.00000
2937      1480488020   62  133  117   62  117  133          nan
2974      1480488020   62   13  117   62  117   13          nan
2991      1480488020   62   13  115   62  115   13     20.00000
3050      1480488020   62   66  117   62  117   66          nan
3082      1480488020   62   66  115   62  115   66     20.00000
3098      1480488040  113  133   66  113   66  133     20.00000
3118      1480488040  113  133   62  113   62  133     20.00000
3134      1480488040  113  133   13  113   13  133     20.00000
3164      1480488040   62   13  117   62  117   13     20.00000
3242      1480488040   62   66  117   62  117   66     20.00000
3271      1480488040   13   66   62   13   62   66     20.00000
3284      1480488040   13   66  117   13  117   66     20.00000
3309      1480488040   13  137   62   13   62  137          nan
3349      1480488040   13  133   62   13   62  133     20.00000
3396      1480488040   13  113   62   13   62  113     20.00000
3443      1480488040   66  113   13   66   13  113     20.00000
3501      1480488040   66  113   62   66   62  113     20.00000
3512      1480488040   66  133   13   66   13  133     20.00000
3580      1480488040   66  133   62   66   62  133     20.00000
3594      1480488040  137   66   13  137   13   66          nan
3628      1480488040  137   66   62  137   62   66          nan
3644      1480488060  113  133   66  113   66  133     20.00000
3674      1480488060  113  133    2  113    2  133          nan
3683      1480488060  113  133   62  113   62  133     20.00000
3879      1480488060    2  113   62    2   62  113          nan
3893      1480488060    2  133   62    2   62  133          nan
3915      1480488060  117   13   10  117   10   13          nan
3944      1480488060  117   96   10  117   10   96          nan
3954      1480488080    2  133   62    2   62  133     20.00000
4035      1480488080    2  113   62    2   62  113     20.00000
4067      1480488080    2  113  117    2  117  113          nan
4101      1480488080  113  133   66  113   66  133     20.00000
4116      1480488080  113  133    2  113    2  133     20.00000
4142      1480488080  113  133  115  113  115  133    120.00000
4170      1480488080  113  133   62  113   62  133     20.00000
4227      1480488080   66  113   62   66   62  113     40.00000
4248      1480488080   66  113  115   66  115  113          nan
4266      1480488080   66  133   62   66   62  133     40.00000
4286      1480488080   66  133  115   66  115  133    100.00000
4334      1480488080   62  133  115   62  115  133    100.00000
4368      1480488080   62  113  115   62  115  113          nan
4397      1480488080   62   66  115   62  115   66     60.00000
4446      1480488080   13   96  117   13  117   96          nan
4489      1480488080   13    2  117   13  117    2          nan
4555      1480488100  113  133    2  113    2  133     20.00000
4569      1480488100  113  133   62  113   62  133     20.00000
4594      1480488100  113  133   13  113   13  133     60.00000
4629      1480488100   62   13  115   62  115   13     80.00000
4647      1480488100   62    2  115   62  115    2          nan
4678      1480488100   62  133  115   62  115  133     20.00000
4761      1480488100   62   66  115   62  115   66     20.00000
4810      1480488100   13   66   62   13   62   66     60.00000
4819      1480488100   13   66  115   13  115   66     80.00000
4859      1480488100   13  133   62   13   62  133     60.00000
4881      1480488100   13  133  115   13  115  133    120.00000
4915      1480488100   13    2   62   13   62    2          nan
4937      1480488100   13    2  115   13  115    2          nan
4983      1480488100   13  113   62   13   62  113     60.00000
5022      1480488100    2   66  115    2  115   66          nan
5071      1480488100    2   66   62    2   62   66          nan
5085      1480488100    2   66   13    2   13   66          nan
5157      1480488100    2  113   62    2   62  113     20.00000
5195      1480488100    2  113   13    2   13  113          nan
5200      1480488100    2  133  115    2  115  133          nan
5236      1480488100    2  133   62    2   62  133     20.00000
5261      1480488100    2  133   13    2   13  133          nan
5345      1480488100   66  133  115   66  115  133     20.00000
5377      1480488100   66  133   13   66   13  133     60.00000
5425      1480488100   66  133    2   66    2  133          nan
5439      1480488100   66  133   62   66   62  133     20.00000
5473      1480488120  113  133   66  113   66  133     40.00000
5520      1480488120  113  133   13  113   13  133     20.00000
5553      1480488120   62   13  115   62  115   13     20.00000
5570      1480488120   62  133  115   62  115  133     20.00000
5646      1480488120   13   66  115   13  115   66     20.00000
5690      1480488120   13  137   62   13   62  137     80.00000
5740      1480488120   13  133   62   13   62  133     20.00000
5759      1480488120   13  133  115   13  115  133     20.00000
5810      1480488120   13    2  115   13  115    2     20.00000
5889      1480488120    2   66  115    2  115   66     20.00000
5922      1480488120    2   66   13    2   13   66     20.00000
5996      1480488120    2  113   13    2   13  113     20.00000
6050      1480488120   66  113   13   66   13  113     80.00000
6069      1480488120   66  113    2   66    2  113          nan
6110      1480488120   66  133  115   66  115  133     20.00000
6141      1480488120   66  133   13   66   13  133     20.00000
6219      1480488120  137   66   13  137   13   66     80.00000
6365      1480488140  115  133  117  115  117  133          nan
...              ...  ...  ...  ...  ...  ...  ...          ...
12976377  1480599040   65   34  119   65  119   34     20.00000
12976410  1480599040   65   51  119   65  119   51     20.00000
12976425  1480599040   23   20   83   23   83   20     20.00000
12976481  1480599040   23   46   83   23   83   46     20.00000
12976516  1480599040   20   46   83   20   83   46     20.00000
12976533  1480599040   20   46   23   20   23   46     20.00000
12976637  1480599040   77   39   80   77   80   39          nan
12976805  1480599040   77   28  105   77  105   28          nan
12976952  1480599040  125   39   80  125   80   39     20.00000
12977017  1480599040   51   34   65   51   65   34     20.00000
12977077  1480599040   51   34  119   51  119   34     20.00000
12977181  1480599060   80   39  105   80  105   39          nan
12977198  1480599060   80   28  105   80  105   28          nan
12977304  1480599060  125    4   80  125   80    4          nan
12977373  1480599060   65   34  119   65  119   34     20.00000
12977408  1480599060   65   51  119   65  119   51     20.00000
12977446  1480599060   23   46   83   23   83   46     20.00000
12977518  1480599060  117    0  111  117  111    0          nan
12977584  1480599060   39   28   80   39   80   28          nan
12977642  1480599060   39   28  105   39  105   28          nan
12977886  1480599060   77  125   80   77   80  125          nan
12977942  1480599060   77   39   80   77   80   39     20.00000
12978014  1480599060   51   34   65   51   65   34     20.00000
12978076  1480599060   51   34  119   51  119   34     20.00000
12978090  1480599060    4   39   80    4   80   39          nan
12978174  1480599080   65   34  119   65  119   34     20.00000
12978196  1480599080   65   51  119   65  119   51     20.00000
12978206  1480599080   23   20   83   23   83   20     40.00000
12978245  1480599080   23   46   83   23   83   46     20.00000
12978267  1480599080  117    0  111  117  111    0     20.00000
12978275  1480599080   51   34   65   51   65   34     20.00000
12978318  1480599080   51   34  119   51  119   34     20.00000
12978347  1480599100   65   34  119   65  119   34     20.00000
12978374  1480599100   65   51  119   65  119   51     20.00000
12978387  1480599100  110  129  111  110  111  129   5600.00000
12978418  1480599100   23   20   83   23   83   20     20.00000
12978462  1480599100   23   46   83   23   83   46     20.00000
12978471  1480599100   51   34   65   51   65   34     20.00000
12978521  1480599100   51   34  119   51  119   34     20.00000
12978549  1480599100   20   46   83   20   83   46     60.00000
12978565  1480599100   20   46   23   20   23   46     60.00000
12978601  1480599120   51   34   65   51   65   34     20.00000
12978635  1480599120   51   34  119   51  119   34     20.00000
12978702  1480599120   23   20   83   23   83   20     20.00000
12978746  1480599120   23   46   83   23   83   46     20.00000
12978773  1480599120   65   51  119   65  119   51     20.00000
12978803  1480599120   65   34  119   65  119   34     20.00000
12978830  1480599120   20   46   83   20   83   46     20.00000
12978844  1480599120   20   46   23   20   23   46     20.00000
12978880  1480599120  121    2   10  121   10    2  97820.00000
12978970  1480599140  119   34  105  119  105   34          nan
12979129  1480599140   23   20   83   23   83   20     20.00000
12979176  1480599140   23   46   83   23   83   46     20.00000
12979204  1480599140   65   51  119   65  119   51     20.00000
12979234  1480599140   20   46   83   20   83   46     20.00000
12979248  1480599140   20   46   23   20   23   46     20.00000
12979322  1480599140   51   34  119   51  119   34     20.00000
12979344  1480599160   23   46   83   23   83   46     20.00000
12979351  1480599160   20   46   23   20   23   46     20.00000
12979362  1480599180   57  110  111   57  111  110    420.00000

The following steps are pretty much the same as in the calculate_contact_duration tutorial.

In [24]:
marker_list = []
for key, value in df_filter_triangle.iterrows():
    if value["Diff"] > 20:
        marker_list.append(1)
    else:
        marker_list.append(0)
df_filter_triangle["Marker"] = marker_list
df_filter_triangle["Ind"] = df_filter_triangle["Marker"].cumsum()

df_merge_dd_gb = df_filter_triangle.groupby(["Ind", "i_x", "j_x", "i_y"]).size().reset_index(name="Number")

In [25]:
delta_t_list = []
for key, value in df_merge_dd_gb.iterrows():
    if value["Number"] == 1:
        delta_t = 20
        delta_t_list.append(delta_t)
    elif value["Number"] > 1:
        delta_t = value["Number"] * 20
        delta_t_list.append(delta_t)

df_merge_dd_gb["DeltaT"] = delta_t_list

tij_amount_delta_t = df_merge_dd_gb.groupby("DeltaT").size().reset_index(name="AmountOfDeltaT")

cumulated_contacts = 0
for key, value in tij_amount_delta_t.iterrows():
    cumulated_contacts += value["AmountOfDeltaT"]

x_delta_t = []
y_probability = []
for key, value in tij_amount_delta_t.iterrows():
    x_delta_t.append(value["DeltaT"])
    y_probability.append(value["AmountOfDeltaT"]/cumulated_contacts)

You can also calculate the probabilities for the contact and for the triangle duration by using a histogram. You have to import numpy for the linspace and the histogram function and math for the logarithm function.

In [29]:
import numpy as np
import math

In [30]:
bins = 10**(np.linspace(math.log10(min(x_delta_t)), math.log10(max(x_delta_t)), 50)) # 17 ?

n, bins = np.histogram(x_delta_t, bins=bins, density=True)

## How to implement the inter-contact duration function 
<a name="inter-contact_duration"></a>

The last function of the distribution calculates the probabilities for the inter-contact duration. The inter-contact duration describes the time window in which a person switches the conversation partner. So it describes how long it takes that person A changes his contact from person B to person C. To do so we need to prepare our data set again.

At first we have to create a list to get all unique individuals that are part of this dataset. To ensure that you get every individual you need to use both ID colums.

In [28]:
individuals = list(set(list(df.interaction.i) + list(df.interaction.j)))

In the next step we have to check every occurence of a person in either the "i" or the "j" column to filter the timestamps. Right after that you can get the time differences by using the created time_stamp list and you have to filter time differences of 20 seconds, because this would be an ongoing conversation.

In [30]:
import numpy as np 
inter_event_duration = np.array([])
for ind in individuals:
    time_stamp = df.interaction[(df.interaction.i == ind) | (df.interaction.j == ind)].Time.values
    diff = time_stamp[1:] - time_stamp[:-1]
    inter_event_duration = np.append(inter_event_duration, diff[diff > 20])

Right after that you can measure the x and y values for a log-log-scaled distribution.

In [31]:
bins = 10**np.linspace(np.log10(min(inter_event_duration)), np.log10(max(inter_event_duration)), 50)
x_delta_t, y_probability = np.histogram(inter_event_duration, bins=bins, density=True)